@import url('https://fonts.cdnfonts.com/css/digital-numbers');

.section-new-products {
    background-color: #9E9C71;
    margin-bottom: 200px;
}

.container-new-products {
    margin: auto;
    padding: 50px;
    max-width: 1440px;

    *justify-content: center;
    *align-items: center;
    *flex-direction: column;
    *background-color: rgb(11, 126, 228);
}

.title-new-products {
    margin-bottom: 50px;
    color: white;
    font-size: 19px;
}

@media screen and (max-width: 550px) {
    .container-new-products {
        padding: 14px;
    }

    .title-new-products {
        margin-top: 16px;
        margin-bottom: 30px;
        
    }
}

.info-new-product {
    margin: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-new-product h3 {
    color: white;
    font-size: 20px;
    cursor: default;
}

.info-new-product a {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    background-color: #E6A06F;
    font-size: 20px;
}

#con {
    *background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#showUsers {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.userI {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--users);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    color: var(--text-color);
}

.userI img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#pro {
    *display: flex;
}

#results {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.numeros {
    display: flex;
    justify-content: space-between;
}

.full-container-ars {
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#containerValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-ars {
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.countdown {
    display: flex;
    justify-content: center;
    padding: 18px;
    border: solid 10px rgb(50, 50, 50);
    border-radius: 35px;
    transition: all .8s;
    *width: 500px;
    font-family: 'Digital Numbers', sans-serif;
    font-size: 50px;
    color: rgb(255, 125, 125);
    text-shadow: 0 0 10px red;

    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 5);
}

.countdown span {
    text-align: center;
    position: relative;
    display: inline-block;
    min-width: 80px;
    height: 90px;
    padding-bottom: 10px;
}

.countdown span::after {
    content: '88';
    position: absolute;
    left: 0;
    color: rgba(255, 255, 255, 0.1);
    text-shadow: none;
}

.countdown #dayElement::before {
    content: 'DAYS';
}

.countdown #hourElement::before {
    content: 'HOURS';
}

.countdown #minElement::before {
    content: 'MINS';
}

.countdown #secElement::before {
    content: 'SECS';
}

.countdown span::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: darkgray;
    text-shadow: none;
}

@media only screen and (max-width:768px) {
    .countdown {
        font-size: 20px;
    }

    .countdown span {
        min-width: 40px;
        height: 50px;
    }

    .countdown span::before {
        font-size: 13px;
    }
}