.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    background: var(--footer-background-color);
    transition: var(--transition);
    text-align: center;
}

.container-footer {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer a {
    transition: var(--transition);
    color: var(--text-color);
    text-decoration: none;
}